#wrapper {
    display: flex;
    margin: 0 auto;
}
  
.intro {
display: flex;
justify-content: flex-end;
align-items: center;
color: white;
width: 40%;
height: 100vh;
background-color: #65676e;
background-image: url(https://images.pexels.com/photos/277253/pexels-photo-277253.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
}

.intro header {
margin-right: 10rem;
text-align: right;
width: 30rem;
}

.content header {
margin-left: 10rem;
text-align: left;
width: 70rem;
}

h1 {
font-family: "Source Sans Pro", Helvetica, sans-serif;
font-size: 5rem;
font-weight: 700;
letter-spacing: -0.05em;
line-height: 1.1;
margin: 0 0 1.5rem 0;
text-transform: none;
}

header  p {
font-family: "Raleway", Helvetica, sans-serif;
font-size: 0.8rem;
letter-spacing: 0.175em;
line-height: 2.5;
text-transform: uppercase;
margin: 0 0 2rem 0;
}

.content header p {
    font-size: 1rem;
    letter-spacing: 0.175em;
}

.primary {
background-color: #C15E0B;
color: #ffffff;
}

.secondary {
background-color: #C15E0B;
color: #ffffff;
}

.warning {
background-color: #0e2923;
color: #ffffff;
}

.button {
border: none;
box-shadow: none;
transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
border-radius: 0.325rem;
cursor: pointer;
display: inline-block;
font-family: "Raleway", Helvetica, sans-serif;
font-size: 0.6rem;
font-weight: 600;
height: 3rem;
letter-spacing: 0.175em;
line-height: 3rem;
padding: 0 2rem;
text-align: center;
text-decoration: none;
text-transform: uppercase;
white-space: nowrap;
}

.button.primary:hover {
background-color: #ce8142;
}

.button.secondary:hover {
background-color: #ce8142;
}

.warning:hover {
background-color: #d94343;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: 100vh;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%235c8864' fill-opacity='0.42' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

/* Need to add more breakpoints later */
@media (max-width: 1250px) {
    #wrapper {
        flex-direction: column;
    }
    .intro, .content {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .intro {
        height: 60vh;
    }
    .content{
        height:40vh
    }
    .intro header, .content header {
        display: flex; 
        flex-direction: column;
        margin: 5% auto;
        text-align: center;
        width: 30rem;
    }
    h1 {
        font-size: 3rem;
        margin: 1% auto;
    }
    header  p, .content header p {
        font-size: 0.6rem;
        letter-spacing: 0.1em;
        margin: 5% auto;
        width: 80%;
        font-weight: 400;
    }
    .content h1 {
        font-size: 2rem;
    }
    
    .content header p {
        order: 3;
    }   
    .content button {
        margin-top: 2%;
    } 
}
